/* The Modal (background) */
.modal-setup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Modal (background) */
.modal-wallet {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Modal (background) */
.modal-trade-details {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    padding: 2px 16px;
    text-align: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-footer {
    padding: 2px 16px;
    text-align: center;
}

/* The Settings Setup Close Button */
.close-setup {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-setup:hover,
.close-setup:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Key Setup Close Button */
.close-key {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    
.close-key:hover,
.close-key:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Key Setup Close Button */
.close-token-details {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    
.close-token-details:hover,
.close-token-details:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}